<!DOCTYPE html>
<html>
<body>  
    <div class="ui-g">
            <div class="ui-g-12 ui-md-12">

 <p-dataView #dv [value]="comparedMatrix"  [paginator]="true" paginatorPosition="both" [rows]="20" >
        <p-header>
                <div class="ui-helper-clearfix">
                    <div class="ui-g">
                       
                            <div class="ui-g-12 filter-container" style="position:relative"><div class="ui-g-3"><img src="{{path}}assets/images/tripwire2.png" height="120px" width="240px"/></div>
                                <div class="ui-g-9">
                               <div class="pi pi-search searchbox ui-g-9"> <input class="inputsearchbox" type="search" pInputText placeholder="Search.." (keydown.enter)="updateSearch($event)"></div></div>
                            </div>
                        
                   
                    </div>
                </div>
                
            </p-header>
    <ng-template pTemplate="listItem" let-i="rowIndex">
            <ng-container >
        <div class="datatable" id="tab" >
            <p class="text">Title : {{this.fileJson[this.comparedMatrix[i][1]].Title}}</p>
            <p  class="text" ><a href="{{textfilepath}}{{fileJson[this.comparedMatrix[i][1]].issue_article | slice:4}}" target="_blank" >{{this.fileJson[this.comparedMatrix[i][1]].issue_article | slice:5}}</a><br/><a href="{{textfilepath}}{{this.fileJson[this.comparedMatrix[i][1]].resolution_article | slice:4}}" target="_blank" >{{this.fileJson[this.comparedMatrix[0][1]].resolution_article | slice:5}}</a></p>
            <br/>
            <div class="ui-g-3"><span class="score">Score:</span><span class="scoreinfo">{{queryJson.hits.hits[this.comparedMatrix[i][0]]._score}}</span></div> <div  class="ui-g-9"  ><p  class="info"  [innerHTML]="queryJson.hits.hits[this.comparedMatrix[i][0]].highlight.content" ></p></div><hr>
        </div>
    </ng-container>
   </ng-template>
 
   </p-dataView>
</div>
</div>
</body></html>